<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <main class="content">
        <p class="paragraph">
            This is an educational project. It uses mapbox.com and darksky API.
        </p>

        <p class="paragraph">And this is my cool assiatant: </p>
        <picture>
            <source srcset="/img/cat.webp" alt="a cat">
            <img class="pic" src="/img/cat.jpeg" alt="a cat">
        </picture>
    </main>
    {{>footer}}
</body>
</html>