<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app: {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
    {{>header}}
    <main class="content error">
        <p class="error__message">{{>errorMsg}}</p>
        <picture>
            <img class="pic" src="https://secure.i.telegraph.co.uk/multimedia/archive/03095/hybrid-animals-mac_3095333k.jpg" alt="nothing found">
        </picture>
    </main>
    {{>footer}}
</body>
</html>