<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <main class="content error">
        <p class="error__message">{{>errorMsg}}</p>
        <picture>
            <img class="pic" src="https://secure.i.telegraph.co.uk/multimedia/archive/03095/hybrid-animals-mac_3095333k.jpg" alt="nothing found">
        </picture>
    </main>
    {{>footer}}
</body>
</html>