<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app: {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/scripts.js"></script>
</head>
<body>
    {{>header}}
    <main class="content">
        <p class="slogan">Be ready for any weather</p>
        <form action="" class="form">
            <input type="text" placeholder="Type your location here" class="form__input">
            <button class="form__button">submit</button>
        </form>
        <p class="forecast"></p>
        <p class="forecast"></p>
    </main>
    {{>footer}}
</body>
</html>