<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>header}}
    <main class="content">
        <p class="slogan">Be ready for any weather</p>
        <form action="" class="form">
            <input type="text" placeholder="Type your location here" class="form__input">
            <button class="form__button">submit</button>
        </form>
        <p class="paragraph"></p>
        <p class="paragraph"></p>
    </main>
    {{>footer}}
</body>
</html>